# Merkezi yapılandırma şablonu
# PROJEYİ ÇALIŞTIRMADAN ÖNCE BU DOSYANIN ADINI '.env' OLARAK DEĞİŞTİRİN
# Veya kopyasını oluşturup adını '.env' yapın.

# PostgreSQL Analytics Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=twitter_metrics

# Airflow Admin User
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_EMAIL=admin@example.com
