# Python
__pycache__/
*.pyc

# Environment Files
.env

# Data & Output (Ignored to avoid pushing large metrics/parquet data)
*.csv 
*.parquet
_SUCCESS 

# Airflow
airflow/logs/
airflow/plugins/

# Flink/Java
**/target/
*.class
*.jar
*.war
dependency-reduced-pom.xml

# IDEs & OS
.vscode/
.idea/
*.iml
.project
.gemini/
.classpath
.settings/
*.log
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Project roadmap.md
notes.txt 
for_me/