# Python
__pycache__/
*.pyc

# Environment Files
.env

# Data & Output (Ignored to avoid pushing large metrics/parquet data)
data/
batch_output/
*.csv

# Airflow
airflow/logs/
airflow/plugins/

# Flink/Java
**/target/
*.class
*.jar
*.war
dependency-reduced-pom.xml

# IDEs & OS
.vscode/
.idea/
*.iml
.project
.gemini/
.classpath
.settings/
*.log
.DS_Store
